<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://wallpapers.com/images/hd/iron-man-pictures-k83lqhe6vnh95b1m.jpg"
    alt=""
    height="220x"
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut veritatis corrupti accusamus nam magni, nihil ad quibusdam voluptatibus eligendi sunt, tempora culpa laudantium ipsum nesciunt itaque sed unde deserunt facere?
      </a>
    </p>

  </div>

</div>
